{% extends 'base.html' %}

{% load static %}


{% block body %}
  
  
      <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">              
                    {% for i in post %} 
                    <a href="/detay/{{i.postTitle}}/">
                        <div class="mt-5 post-card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                              <div class="col-md-4">
                                
                                <img src="{{i.postImg.url}}" class="img-fluid rounded-start" alt="...">
                          
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">{{i.postTitle}}</h5>
                                  <p class="card-text">{{i.postText}}</p>
                                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                </div>
                              </div>
                            </div>
                        </div>
                    </a>                                        
                    {% endfor %}
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
      </section>

      
{% endblock body %}
