{% extends 'base.html' %}


{% block body %}
  
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          {% for i in trend_post %}
          <a class="card-hero" href="detay/{{i.postTitle}}/">
            <div class="mt-5 post-card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">

                  <img src="{{i.postImg.url}}" class="img-fluid rounded-start" alt="...">

                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h6> <small>{{i.user.first_name}} {{i.user.last_name}}</small> </h6>
                    <h5 class="card-title">{{i.postTitle}}</h5>
                    <p class="card-text">{{i.postText}}</p>
                    <p class="card-text"><small class="text-body-secondary"> {{i.postTime}}</small></p>
                  </div>
                  <form action="{% url 'begen' i.id %}" method="POST">
                    {% csrf_token %}

                    <button type="submit" class="btn btn-primary">Beğen <span> {{i.like_count}} </span></button>

                  </form>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </section>
  {% endblock body %}
